# Virtual Environment
venv/
env/
ENV/
.venv

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# IDE & Editors
.vscode/
.idea/
*.swp
*.swo
*~
.DS_Store
.project
.pydevproject
.settings/
*.sublime-project
*.sublime-workspace

# Testing
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# MyPy
.mypy_cache/
.dmypy.json
dmypy.json

# Jupyter Notebook
.ipynb_checkpoints
*.ipynb

# Environments
.env
.venv
env.bak/
venv.bak/

# User-specific files
*.bak
*.tmp
*.log
*.out
*.pid

# Temporary files
temp/
tmp/
*.temp

# IDE launch configs
.launch
.classpath
.factorypath

# Debug files
debug.log
*.dmp

# Miscellaneous
.vagrant
.pem
*.pem
.envrc

yolov8n.pt

perspective.npy

yolo26m.pt
yolo26n.pt

newdata/
rawdata/